<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Editing User</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-user me-1"></i>
            Edit A User
        </div>
        <div class="card-body">
            <% if session[:success] %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong><%= session[:success] %></strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% session[:success] = nil %>
            <% end %>
            <form action="/user/" >
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name">
                    <div id="name" class="form-text text-danger">Error Message</div>
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username">
                    <div id="username" class="form-text text-danger">Error Username</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email">
                    <div id="email" class="form-text text-danger">Error Email</div>
                </div>
                <div class="mb-3">
                    <label for="birthdate" class="form-label">Birtdate</label>
                    <input type="date" class="form-control" id="birthdate">
                    <div id="birthdate" class="form-text text-danger">Error birthdate</div>
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address">
                    <div id="address" class="form-text text-danger">Error Address</div>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="number" class="form-control" id="phone">
                    <div id="phone" class="form-text text-danger">Error Phone</div>
                </div>
                <div class="mb-3">
                    <label for="photo" class="form-label">Photo</label>
                    <input type="file" class="form-control" id="photo">
                    <div id="photo" class="form-text text-danger">Error Photo</div>
                </div>
                <div class="mb-3">
                    <label for="access" class="form-label">Access</label>
                    <select id="access" class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>