<div class="container mt-5">
    <div class="row">
        <div class="col mb-4">
            <% if session[:success] %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong><%= session[:success] %></strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% session[:success] = nil %>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col mb-4">
            <% if flash[:warning] %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong><%= flash[:warning] %></strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% flash[:warning] = nil %>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-uppercase">Hello <%= current_user['name'] %></h1>
        </div>
    </div>
</div>