<div class="container-fluid px-4">
    <h1 class="mt-4">Users Wishlist</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Item Lists</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Item Name</th>
                            <th>Category</th>
                            <th>Brand</th>
                            <th>Stock</th>
                            <th>Price</th>
                            <th>Photo</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            <% else %>
                <div class="alert alert-info">
                    No Item Lists Available.
                </div>
            <% end %>
        </div>
    </div>
</div>