<div class="container mt-4">
    <h3>Detail My Transaction</h3>
    <hr>

    <div class="card mb-4">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="item_photo" class="img-fluid rounded-start" alt="">
            </div>
            <div class="col-md-8 mb-2">
                <div class="card-body">
                    <h5 class="card-title">Item Name</h5>
                    <p class="card-text">
                        Item Price Per Unit 
                    </p>
                    <p class="card-text">
                        Item Brand 
                    </p>

                    <p class="card-text">
                        Item Description 
                    </p>

                    <p class="card-text">
                        Item SKU / Unit  
                    </p>

                    <p class="card-text">
                        Quantity Order
                    </p>
                    <p class="card-text">
                        Total Price
                    </p>
                    
                    <p class="card-text">
                        <small class="text-body-secondary float-end">
                            Transaction Date
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>