<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Seller Basket Lists</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-warehouse me-1"></i>
            Basket Lists
        </div>
        <div class="card-body">
            <% if session[:success] %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong><%= session[:success] %></strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% session[:success] = nil %>
            <% end %>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Item Name</th>
                        <th>Store Name</th>
                        <th>User</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Total Price</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>